<app-navbar></app-navbar>
<app-digital-clock></app-digital-clock>

<div class="currency-converter-wrapper">
    <h2 class="centered-title">Currency Converter</h2>
    <mat-card class="currency-converter-card">
      <mat-card-content>
        <div class="currency-converter-body">
          <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput [(ngModel)]="amount" name="amount" required />
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>From Currency</mat-label>
            <mat-select [(ngModel)]="fromCurrency" name="fromCurrency" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency.code">
                {{ currency.name }} ({{ currency.code }})
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>To Currency</mat-label>
            <mat-select [(ngModel)]="toCurrency" name="toCurrency" required>
              <mat-option *ngFor="let currency of currencies" [value]="currency.code">
                {{ currency.name }} ({{ currency.code }})
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" (click)="convertCurrency()">Convert</button>
        </div>

    </mat-card-content>
</mat-card>

<mat-card *ngIf="conversionResult !== null" class="result-card">
    <mat-card-title class="result-card-title">Conversion Result:</mat-card-title>
    <mat-card-content>
        <div class="result-details">
            <div class="result-item">{{ amount }} {{ fromCurrency }} = {{ conversionResult | number:'1.2-2' }} {{ toCurrency }}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <app-footer></app-footer>